html {
  scroll-behavior: smooth;
}

.theme {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 17vw;
  border: thin solid aqua;
  box-shadow: 2px 2px 50px aquamarine;
  overflow: hidden;
  background-image: url("../assets/images/themePic.jpeg");
  background-size: 50%;
  animation: translate 200s linear infinite;
}

@keyframes translate {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 10000px 0;
  }
}

/* The sidebar menu */
.sidenav {
  height: 100vh;
  width: 250px;
  position: fixed;
  top: 0px;
  left: calc(50vw - min(1250px, calc(100vw - 100px))/2);
  z-index: 1;
  background-color: rgb(228, 239, 248);
  padding: 100px 10px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  box-shadow: 2px 2px 10px rgb(183, 209, 242);
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}

/* hide scroll bar */
.siden::-webkit-scrollbar {
  display: none;
}

.sidenav div {
  padding: 10px 10px;
}

.sidenav .profilePic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: royalblue;
  margin-left: 15px;
  margin-top: -30px;
  overflow: hidden;
}

.sidenav .profilePic img {
  transform: scale(1.4) translateX(-5px);
}

.sidenav .profileDesc {
  font-size: x-large;
  font-family: "Exo", serif;
  margin-top: 10px;
  margin-bottom: -20px;
}

/* icons */
.sidenav .profileButtons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidenav .profileButtons .profileButton {
  color: darkblue;
  padding: 10px 10px;
  font-size: 30px;
  cursor: pointer;
  transition: ease-in-out 300ms;
}

.sidenav .profileButtons .profileButton:hover {
  transform: translateY(-5px);
  color: royalblue;
}

.sidenav .profileButtons .profileSpecialButton {
  width: 25px;
  height: 25px;
  color: rgb(228, 239, 248);
  background-color: darkblue;
  border-radius: 5px;
  position: relative;
  margin-right: 20px;
  left: 10px;
  bottom: 1px;
  font-size: 17px;
  cursor: pointer;
  transition: ease-in-out 300ms;
}

.sidenav .profileButtons .profileSpecialButton:hover {
  transform: translateY(-5px);
  background-color: royalblue;
}

/* The navigation menu links */
.sidenav a {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  text-decoration: none;
  font-size: 12px;
  color: royalblue;
  text-decoration: underline 0.1em rgba(0, 0, 0, 0);
  text-underline-offset: 0.5em;
  transition: text-decoration-color 300ms;
}

.sidenav a:hover {
  color: darkblue;
  text-decoration-color: darkblue;
}

.sidenav .footer {
  color: lightslategrey;
  font-size: 10px;
  font-family: "Lato", sans-serif;
  font-weight: 100;
  margin-top: 30px;
}

.sidenav .footer .heart {
  color: rgba(226, 62, 62, 0.952);
}

.content {
  position: absolute;
  max-width: 950px;
  width: calc(100vw - 400px);
  top: 20vw;
  left: calc(50vw - min(1250px, calc(100vw - 100px))/2 + 300px);
}

.contentItem {
  padding: 100px 10px;
  opacity: 0;
  transform: translateX(50px);
  transition: 300ms;
}

.contentItem.show {
  transform: translateX(0);
  opacity: 1;
}

.contentItem .header {
  font-family: "Exo", serif;
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 50px;
}

.contentItem .body {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  color: rgb(110, 111, 117);
}